/* Existing styles in portfolio.css */

.wedding-films-description {
  padding: 80px 20px 0;
  text-align: center;
}

.wedding-films-description p {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3em; /* Slightly increase font size */
  font-weight: 500; /* Add a bit of weight to the font */
  line-height: 1.6;
}
@media (max-width: 1024px) {
  .wedding-films-description {
    padding: 40px 20px 0;
  }
  
  .wedding-films-description p {
    font-size: 1.2em; /* Slightly increase font size */
  }

  
}
@media (max-width: 768px) {
  .wedding-films-description {
    padding: 20px 20px 0;
  }
  
  .wedding-films-description p {
    font-size: 1em; /* Slightly increase font size */
  }
  
}
@media (max-width: 480px) {
  .wedding-films-description {
    padding: 10px 20px 0;
  }
  
  .wedding-films-description p {
    font-size: 0.8em; /* Slightly increase font size */
  }
  
}

/* Add more styles as needed */
